---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$max-width:1440px;
$right-sidebar-width-narrow: 100px !default;
$right-sidebar-width: 100px !default;
$right-sidebar-width-wide: 100px !default;


.wide3 {

  .page { 
    float: left;
    width: 100%;
    @include breakpoint($large) {
      padding-left: 0;
    }
  }


  .archive {
    float: left;
    width: 100%;
    @include breakpoint($small) {
      padding-right: 0;
    }

    @include breakpoint($medium) {
      padding-right: 0;
    }

    @include breakpoint($large) {
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
    }
  }

  .archive__item-teaser {
    @include breakpoint($small) {
      max-height: 200px;
    }

    @include breakpoint($medium) {
      max-height: 200px;
    }
  }
}